.h1 {
    font-family: var(--font-primary), sans-serif;
    font-size: 56px;
    line-height: 72px;
    text-transform: capitalize;
    font-weight: var(--font-weight-regular);
}

.h2 {
    font-family: var(--font-primary), sans-serif;
    font-size: 48px;
    line-height: 64px;
    text-transform: capitalize;
    font-weight: var(--font-weight-regular);
}

.h3 {
    font-family: var(--font-primary), sans-serif;
    font-size: 40px;
    line-height: 48px;
    text-transform: capitalize;
    font-weight: var(--font-weight-regular);
}

.h4 {
    font-family: var(--font-primary), sans-serif;
    font-size: 32px;
    line-height: 40px;
    text-transform: capitalize;
    font-weight: var(--font-weight-regular);
}

.h5 {
    font-family: var(--font-primary), sans-serif;
    font-size: 24px;
    line-height: 32px;
    text-transform: capitalize;
    font-weight: var(--font-weight-regular);
}

.h6 {
    font-family: var(--font-primary), sans-serif;
    font-size: 20px;
    line-height: 32px;
    text-transform: capitalize;
    font-weight: var(--font-weight-regular);
}