.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--gray-100);
  border-radius: 8px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: var(--gray-50);
  border-bottom: 1px solid var(--gray-200);
}

.list {
  background-color: var(--white);
}
