.commentSection {
    padding: 1rem;
    background-color: var(--white);
    border-radius: 0.5rem;
}

.commentCount {
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--gray-900);
    text-align: left;
}
